<html>
        <head>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <style>
          div, span {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            margin: auto;
            text-align: center;
            font-size: 5vw;
          }
          a {
            text-decoration: none;
          }
          </style>
        </head>


<body>
        <div>
<h2>WELCOME GUEST</h2>
<br/>
<a href=/signin>Sign In</a>
<br/>
<a href=/signup>Sign Up</a>
        </div>
</body>
</html>

