<html>
        <head>
                <title>Sign Up</title>
        </head>

        <body>
                <h2>Sign Up</h2>
                <form action="/process_signup" method="post" enctype="application/x-www-form-urlencoded">
                        Name:<br/>
                        <input type="text" name="name" placeholder="Name" required><br/>
                        Password:<br/>
                        <input type="password" name="password" placeholder="Password" required><br/>
                        Sex:<br/>
                        <input type="text" name="sex" placeholder="Gender"><br/>
                        Age:<br/>
                        <input type="text" name="age" placeholder="Age"><br/>
                        Email:<br/>
                        <input type="text" name="email" placeholder="Emails"><br/>

                        <input type="submit" value="submit">  <input type="reset" value="reset">
                </form>
        </body>
</html>

