<html>
        <head>
                <title>Sign In</title>
        </head>

        <body>
                <h2>Sign In</h2>
                <form action="/autheticate" method="post" enctype="application/x-www-form-urlencoded">
                        Name:<br/>
                        <input type="text" name="name" placeholder="Name" required><br/>
                        Password:<br/>
                        <input type="password" name="password" placeholder="Password" required><br/>

                        <input type="submit" value="submit">  <input type="reset" value="reset">
                </form>
        </body>
</html>

