<html>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Sign Up</title>
                <link rel="stylesheet" type="text/css" href="http://10.7.12.65/css/default.css">
        </head>

        <body>
                <h3>Sign Up</h3><br/>
                <div>
                <form action="/process_signup" method="post" enctype="application/x-www-form-urlencoded">
                        <label>Name:</label>
                        <input type="text" name="name" placeholder="your name" required><br/>
                        <label>Password:</label>
                        <input type="password" name="password" placeholder="fairly secured password" required><br/>
                        <label>Sex:</label>
                        <input type="text" name="sex" placeholder="your gender"><br/>
                        <label>Age:</label>
                        <input type="text" name="age" placeholder="you age"><br/>
                        <label>Email:</label>
                        <input type="text" name="email" placeholder="your emails"><br/>

                        <input type="submit" value="submit">  <input type="reset" value="reset">
                </form>
                </div>
        </body>
</html>

